.header_inner {
  margin: auto;
  padding: 20px 60px;
  background: rgb(77, 54, 198);
  background: -moz-linear-gradient(
    90deg,
    rgba(77, 54, 198, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(77, 54, 198, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(77, 54, 198, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d36c6",endColorstr="#00d4ff",GradientType=1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-logo {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  /* background-color: rgb(0, 0, 0); */
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.gnav-list {
  display: flex;
  font-weight: bold;
}

.gnav-list ui {
  margin-left: 30px;
}

a {
  color: white;
  font-size: 24px;
}

.home-header {
  background: rgb(166, 149, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a695ff",endColorstr="#00d4ff",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d36c6",endColorstr="#00d4ff",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c37b4",endColorstr="#00d4ff",GradientType=1);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.search-box {
  padding: 15px;
  margin-left: 25%;
  width: 35%;
  border-radius: 10px;
  font-size: 150%;
}

.create-review {
  display: flex;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* フォームコンテナのスタイリング */
.form-container {
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  align-items: center; 
  background-color: rgb(216, 220, 240);
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 4px 8px rgba(119, 119, 119, 0.5);
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.review-image {
  font-size: large;
  margin-bottom: 20px;
}

.review-title {
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-comment {
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-submit {
  width: 80px;
  padding: 5px;
  margin: 20px;
  font-size: large;
  background-color: rgb(59, 83, 164);
  border-radius: 5px;
  color: #dfdfdf;
  width: 100px;
  height: 50px;
}

.book-picture {
  width: 400px;
  height: 500px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.book {
  margin-left: 50px;
  margin-right: 50px;
}

.review-title-container {
  padding: 10px;
  width: 90%;
  font-size: 150%;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 32px 33px 24px -25px #777777;
}
.review-comment-container {
  font-size: 200%;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 32px 33px 24px -25px #c7c7c7;
}
.top-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-code {
  width: 45%;
  height: 20%;
  margin: 1%;
  border-radius: 10px;
}
.image-robot {
  width: 30%;
}
.login-user {
  font-size: 150%;
  margin-left: 1%;
}

.top-elements {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-user{
  width: 35%;
  padding: 20px;
  margin: 1%;
  margin-right: 2%;
  margin-left: 8%;
  font-size: 200%;
  border-radius: 10px;
  border: 3px solid #8c8c8c;
  box-shadow: 32px 33px 24px -25px #a1a0a0;
}

.search-user-elements {
  display: flex;
}

.search-user-botton {
  width: 6%; 
  height: 75px;
  border-radius: 10px;
  font-size: 150%;
}

.username {
  font-size: 200%;
  background-color: #d1edef;
  border-radius: 5px;
  margin-left: 32%;
  margin-right: 32%;
  border: 2px solid #000000;
  box-shadow: 32px 33px 24px -25px #c7c7c7;
}
.home-header2 {
  background: rgb(166, 149, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(166, 149, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a695ff",endColorstr="#00d4ff",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d36c6",endColorstr="#00d4ff",GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c37b4",endColorstr="#00d4ff",GradientType=1);
  display: flex;
  justify-content: center;
}

.search-box2 {
  padding: 15px;
  margin: 15px;
  width: 35%;
  border-radius: 10px;
  font-size: 150%; 
}

.username-link {
  color: #000000;
}