.formContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  background-color: #f8f8f8;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 32px 33px 24px -25px #777777;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField input {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

button {
  background-color: #1b66a7;
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 10px 30px;
  height: 50px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #175892;
}

.mailAddress {
  font-size: 150%;
}

.password {
  font-size: 150%;
}
